body {
  background-color: #5865f2;
  font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.content-container {
  background-color: #313338;
  width: 784px;
  height: 408px;
  box-sizing: border-box;
  padding: 32px;
  border-radius: 5px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.left-column {
  width: 414px;
  height: 314px;
  box-sizing: border-box;
}

h2 {
  color: #ebecee;
  font-size: 24px;
}
.greeting {
  font-size: 16px;
  color: #989ca3;
  margin-bottom: 20px;
  text-align: center;
}

#form {
  margin-top: 20px;
}

#emailOrPhone-label {
  display: block;
  color: #acb0b7;
  font-size: 12px;
  margin: 10px 0px;
  font-weight: bold;
}

span {
  color: red;
}

#passwordLabel {
  display: block;
  color: #acb0b7;
  font-size: 12px;
  margin-bottom: 10px;
  margin-top: 25px;
  font-weight: bold;
}

input {
  width: 100%;
  border-radius: 5px;
}

.input {
  background-color: #1e1f22;
  height: 40px;
  color: #989ca3;
  border: none;
  box-sizing: border-box;
  padding: 10px;
  outline: none;
}

button {
  width: 100%;
}

#forgotPasswordWrapper {
  color: #5865f2;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 20px;
  cursor: pointer;
}

#forgotPasswordWrapper:hover {
  text-decoration: underline;
}

#submit {
  background-color: #5865f2;
  color: white;
  height: 40px;
  cursor: pointer;
}

#submit:hover {
  background-color: #4752c4;

  transition: 0.3s;
}

#needAccount {
  margin-top: 10px;
  color: #6d7583;
  font-size: 14px;
}

#register {
  color: #5865f2;
  text-decoration: none;
  cursor: pointer;
}

#register:hover {
  text-decoration: underline;
}

.content-container {
  display: flex;
  flex-direction: row;
}

.right-column {
  text-align: center;
  margin-left: 64px;
  width: 240px;
  height: 344px;
}

.img-container {
  margin: 32px 0px 20px;
}

.right-column p {
  color: #9599a0;
  margin-top: 10px;
  font-size: 14px;
}
