header {
  width: 100%;
  background-color: #ffc400;
}

.nav-wrapper {
  width: 100%;
  background-color: #eaae00;
}

.nav-container {
  width: 1260px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 20px 0;
}

.nav-container .logo {
  cursor: pointer;
}

.nav-wrapper nav ul {
  display: flex;
  column-gap: 50px;
}

.nav-wrapper nav ul li {
  cursor: pointer;
  font-size: 29px;
  color: #ffffff;
  font-weight: 500;
  font-family: "Poppins";
}

.nav-wrapper .search {
  display: flex;
}

.nav-wrapper .search input {
  width: 200px;
  background-color: #ffc400;
  font-size: 21px;
  letter-spacing: 0px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Poppins";
  text-align: center;
  border: none;
  padding: 10px 0 10px 0;
}

.nav-wrapper .search input:focus {
  outline: none;
}

.nav-wrapper .search input::placeholder {
  font-size: 21px;
  letter-spacing: 0px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Poppins";
  text-align: center;
}

.nav-wrapper .search .icon {
  background-color: #00c0cb;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

header .main-content {
  padding: 100px 0 100px 0;
  width: 1260px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .main-content .left-column {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

header .main-content .left-column h1 {
  font-size: 67px;
  letter-spacing: 1px;
  color: #ffffff;
  font-weight: 600;
  font-family: "Poppins";
}

header .main-content .left-column p {
  font-size: 29px;
  letter-spacing: 0px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Poppins";
}

header .main-content .left-column .buttons {
  display: flex;
  column-gap: 60px;
}

header .main-content .left-column .buttons button {
  width: 150px;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 0 10px 0;
  font-size: 21px;
  letter-spacing: 0px;
  color: #ffffff;
  font-weight: 600;
  font-family: "Poppins";
}

header .main-content .left-column .buttons .button-contact {
  border: none;
  background-color: #00c0cb;
}

header .main-content .left-column .buttons .button-service {
  background-color: #ffc400;
  border: solid white;
}

header .main-content .right-column img {
  width: 400px;
  height: 585px;
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
}

.section-one {
  width: 100%;
}

.section-one-container {
  width: 1260px;
  margin: 0 auto;
  padding: 120px 0 120px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-one-container .left-column {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.section-one-container .left-column h2 {
  font-size: 50px;
  color: #313243;
  font-weight: 600;
  font-family: "Poppins";
}

.section-one-container .left-column p {
  font-size: 29px;
  letter-spacing: 0px;
  color: #313243;
  font-weight: 400;
  font-family: "Poppins";
}

.section-one-container .left-column button {
  background-color: #ffc400;
  border: none;
  width: 150px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 21px;
  letter-spacing: 0px;
  color: #ffffff;
  font-weight: 600;
  font-family: "Poppins";
  padding: 10px 0 10px 0;
}

.section-one-container .right-column {
  position: relative;
}

.section-one-container .right-column::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(216, 169, 0, 0.569);
  mix-blend-mode: multiply;
}

.section-one-container .right-column img {
  position: relative;
  z-index: 44;
}

.section-one-container .right-column .video {
  position: absolute;
  top: 45%;
  left: 42%;
  cursor: pointer;
}

.section-one-container .right-column .shape {
  width: 200px;
  height: 200px;
  background-color: #ffc400;
  position: absolute;
  left: -6%;
  bottom: -6%;
  z-index: 0;
}

.section-two {
  width: 100%;
  background-color: #ffc400;
  padding: 100px 0 100px 0;
}

.section-two-container {
  width: 1260px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 50px;
}

.section-two-container h3 {
  font-size: 75px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Poppins";
  text-align: center;
}

.section-two-container p {
  font-size: 33px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Poppins";
  text-align: center;
}

.section-two-container .cards {
  display: flex;
  justify-content: space-between;
}

.section-two-container .cards .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
}

.section-two-container .cards .card h4 {
  font-size: 38px;
  color: #ffffff;
  font-weight: 600;
  font-family: "Poppins";
  text-align: center;
}

.section-two-container .cards .card p {
  font-size: 25px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Poppins";
  text-align: center;
}

.section-four {
  width: 100%;
  padding: 100px 0 100px 0;
  background-color: #ffc400;
}

.section-four-container {
  width: 1260px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 60px;
}

.section-four-container h3 {
  font-size: 75px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Poppins";
  text-align: center;
}

.section-four-container p {
  font-size: 33px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Poppins";
  text-align: center;
}

.section-four-container .cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.section-four-container .cards .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 40px;
}

.section-four-container .cards .card p {
  font-size: 42px;
  color: #ffffff;
  font-weight: 600;
  font-family: "Poppins";
  text-align: center;
}

.section-four-container .cards .card button {
  width: 160px;
  font-size: 25px;
  color: #ffffff;
  font-weight: 600;
  font-family: "Poppins";
  text-align: center;
  border-radius: 20px;
  border: none;
  background-color: #00c0cb;
  cursor: pointer;
  padding: 10px 0 10px 0;
}
