header {
  width: 100%;
  background-image: url("../images/headerBackground.png");
  background-size: cover;
  position: relative;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #5380c1;
  mix-blend-mode: multiply;
}

.nav-wrapper {
  width: 100%;
  background: rgba(47, 124, 187, 0.7);
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  z-index: 4;
}

.nav-container {
  position: relative;
  width: 1360px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

.nav-container .nav-content ul {
  display: flex;
  column-gap: 40px;
  font-size: 25px;
  color: #ffffff;
  font-weight: 600;
  font-family: "Poppins";
}

.nav-container .nav-content ul li {
  cursor: pointer;
}

header .main-content {
  width: 1360px;
  margin: 0 auto;
  padding: 250px 0 250px 0;
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 70px;
}

header .main-content h1 {
  font-size: 75px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Poppins";
  text-align: center;
}

header .main-content p {
  font-size: 30px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Nunito";
  text-align: center;
}

header .main-content button {
  width: 325px;
  height: 70px;
  border-radius: 55px;
  border: none;
  background-color: #fbc400;
  font-size: 25px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Poppins";
  text-align: center;
  cursor: pointer;
}
