header {
  width: 100%;
  background-image: url("../images/headerBackground.png");
  background-size: cover;
  position: relative;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #5380c1;
  mix-blend-mode: multiply;
}

.nav-wrapper {
  width: 100%;
  background: rgba(47, 124, 187, 0.7);
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  z-index: 4;
}

.nav-container {
  position: relative;
  width: 1360px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

.nav-container .nav-content ul {
  display: flex;
  column-gap: 40px;
  font-size: 25px;
  color: #ffffff;
  font-weight: 600;
  font-family: "Poppins";
}

.nav-container .nav-content ul li {
  cursor: pointer;
}

header .main-content {
  width: 1360px;
  margin: 0 auto;
  padding: 250px 0 250px 0;
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 70px;
}

header .main-content h1 {
  font-size: 75px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Poppins";
  text-align: center;
}

header .main-content p {
  font-size: 30px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Nunito";
  text-align: center;
}

header .main-content button {
  width: 325px;
  height: 70px;
  border-radius: 55px;
  border: none;
  background-color: #fbc400;
  font-size: 25px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Poppins";
  text-align: center;
  cursor: pointer;
}

.section-one {
  background-color: #5aa0e6;
  width: 100%;
  padding: 100px 0 100px 0;
  position: relative;
  overflow: hidden;
}

.section-one-container {
  margin: 0 auto;
  width: 1360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 50px;
}

.section-one-container h2 {
  font-size: 75px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Poppins";
  text-align: center;
}

.section-one-container p {
  font-size: 30px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Nunito";
  text-align: center;
}

.section-one-container .cards {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.section-one-container .cards .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
}

.section-one-container .cards .card h3 {
  font-size: 37px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Poppins";
  text-align: center;
}

.section-one-container .cards .card p {
  font-size: 22px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Poppins";
  text-align: center;
}

.section-one-container .cards .card img {
  border-radius: 50%;
}

.section-one .left-corner {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 463;
  height: 480px;
}

.section-one .right-corner {
  position: absolute;
  top: -10%;
  right: -10%;
}

.section-one .shape1 {
  position: absolute;
  top: 10%;
  left: 10%;
  z-index: 32;
}

.section-one .shape2 {
  position: absolute;
  bottom: 1%;
  right: 16%;
  z-index: 22;
}

.section-two {
  padding: 200px 0 300px 0;
  width: 100%;
  background-image: url("../images/sectionTwoBackground.png");
  background-size: cover;
  position: relative;
}

.section-two .dots {
  position: absolute;

  left: 10%;
  top: -1%;
}

.section-two::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #edc315;
  mix-blend-mode: multiply;
}

.section-two-container {
  width: 1360px;
  margin: 0 auto;
  position: relative;
  z-index: 44;
}

.section-two-container h2 {
  font-size: 75px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Poppins";
  text-align: center;
}

.section-two-container p {
  margin-top: 80px;
  font-size: 30px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Poppins";
  text-align: center;
}

.section-two-container .cards {
  margin-top: 200px;
  display: flex;
  justify-content: space-between;
}

.section-two-container .card {
  border: #ffffff solid 10px;
  border-radius: 50%;
  width: 254px;
  height: 254px;
}

.section-two-container .cards .card .stat {
  font-size: 53px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Poppins";
  text-align: center;
}

.section-two-container .cards .card .text {
  font-size: 21px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Poppins";
  text-align: center;
  margin-top: 20px;
}

.section-three {
  width: 100%;
  position: relative;
  background-color: #2f81c5;
  padding: 180px 0 120px 0;
}

.section-three .dots-down {
  position: absolute;
  bottom: 10%;
  left: 14%;
}

.section-three .dots-up {
  position: absolute;
  top: 10%;
  right: 14%;
}

.section-three .triangle-down {
  position: absolute;
  bottom: -1%;
  right: 15%;
}

.section-three .triangle-up {
  position: absolute;
  top: 10%;
  left: 10%;
}

.section-three-container {
  width: 1360px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-three-container .left-column h2 {
  font-size: 75px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Poppins";
}

.section-three-container .left-column p {
  font-size: 30px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Poppins";
  margin-top: 60px;
  width: 650px;
}

.section-three-container .left-column button {
  width: 250px;
  height: 50px;
  border-radius: 55px;
  border: none;
  background-color: #fbc400;
  font-size: 25px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Poppins";
  text-align: center;
  cursor: pointer;
  margin-top: 50px;
}

.section-three-container .right-column img {
  border-radius: 50%;
}
